<section>
    <h2>{{multilingualgreeting}}</h2>
    <p>
        {{timeofday}}! Welcome to a website by me. You may not find anything on here as I tend to use it only to host prvate projects
        and other miscellanea, but from time to time interesting things may find there way on here.
    </p>
</section>
<section>
    <h2>Projects</h2>
    <p>I'm currently trying to consolidate all of my little ideas and toy projects to my GitHub. Here I've listed a select few:</p>
    <div class='project-list'>
        {{#each projects}}
        <div class='project-item'>
            <header>
                <h5>{{title}}</h5>
                <ul class='horizontal'>{{#each content.links}} {{#if url}}
                    <li><a href='{{url}}'>{{name}}</a></li>
                    {{else}}
                    <li><a>{{name}} (currently down)</a></li>
                    {{/if}} {{/each}} {{#if content.repository}}
                    <li><a href='{{content.repository}}'>repository</a></li>
                    {{/if}}
                </ul>
            </header>
            {{{emojify content.description.html}}}
        </div>
        {{/each}}
        <a class='end-link' href='https://github.com/indigotock?tab=repositories'>View all repositories...</a>
    </div>
</section>