<section>
    <h2>{{multilingualgreeting}}</h2>
    <p>
        {{timeofday}}. You might not find a lot here as I tend to just use this server as a means to find my email address and host
        prvate projects, but from time to time interesting things may find there way on here.
    </p>
</section>
<section>
    <h2>Projects</h2>
    <p>I'm currently trying to consolidate all of my little ideas and toy projects to my GitHub. Here I've listed a select few:</p>
    <div class='project-list'>
        {{#each projects}}
        <article class='project-item'>
            {{#if content.image}}
            <img src='{{content.image.fileUrl}}' /> {{else}}
            <img src='./favicon.png' /> {{/if}}
            <h5>{{title}}</h5>
            <ul class='horizontal'>{{#each content.links}} {{#if url}}
                <li><a href='{{url}}'>{{name}}</a></li>
                {{else}}
                <li><a>{{name}} (currently down)</a></li>
                {{/if}} {{/each}} {{#if content.repository}}
                <li><a href='{{content.repository}}'>repository</a></li>
                {{/if}}
            </ul>
            <div>
                {{{emojify content.description.html}}}
            </div>
        </article>
        {{/each}}
        <a class='end-link' href='https://github.com/indigotock?tab=repositories'>View all repositories...</a>
    </div>
</section>