<section>
    <p>
        <span id='greeting'>Greetings</span>! Welcome to a website by me. You may not find anything on here as I tend to
        use it only to host prvate projects and other miscellanea, but from time to time interesting things may find there
        way on here.
    </p>
</section>
<svg class='break' version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
<section>
    <p>I'm currently trying to consolidate all of my little ideas and toy projects to this page, the source for most of these
        is available on my GitHub. Here are some of the ones I've made public:</p>
</section>
<section>
    <div class='boxlist'>
        {{#each res.data}} {{#if this.published}}
        <article class='listitem'>
            <img src={{this.content.image.thumbnails.med}}/>
            <div class='right'>
                <header>
                    <h3>{{this.title}}</h3>
                    {{#if this.content.links}}
                    <ul class='horizontal'>
                        {{#each this.content.links}}
                        <li><a href='{{this.url}}'>{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </header>
                {{#if this.content.url}}
                </a> {{/if}}
                <span>{{{this.content.description.html}}}</span>
            </div>
        </article>
        {{/if}} {{/each}} {{#if res}} {{else}}
        <p class='info'>Appears to be some problem fetching the data from the server. How awfully embarassing. Have a look at my GitHub for
            some of the things you are meant to see here.</p>
        {{/if}}
    </div>
</section>