<section>
    <div class='project-list'>
        {{#each projects}}
        <article class='project-item'>
            {{#if content.image}}
            <img src='{{content.image.fileUrl}}' /> {{else}}
            <img src='./favicon.png' /> {{/if}}
            <h3>{{title}}</h3>
            <ul class='horizontal'>{{#each content.links}} {{#if url}}
                <li><a href='{{url}}'>{{name}}</a></li>
                {{else}}
                <li><a>{{name}} (currently down)</a></li>
                {{/if}} {{/each}} {{#if content.repository}}
                <li><a href='{{content.repository}}'>repository</a></li>
                {{/if}}
            </ul>
            <div>
                {{{emojify content.description.html}}}
            </div>
        </article>
        {{/each}}
    </div>
</section>
