<!DOCTYPE html>
<html>

<head>
  {{#if title}}
  <title>{{title}} - Kyle Hughes</title>
  {{else}}
  <title>Kyle Hughes</title>
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/normalize.css'>
  <link rel='stylesheet' href='/stylesheets/style.css' media='screen'>
  <link rel='stylesheet' href='/stylesheets/print.css' media='print'>

  <script src='/javascripts/base.js'>

  </script>
</head>

<body>
  <header>
    <h1><a href='/'>Kyle Hughes</a></h1>
    <nav>
      <ul class="horizontal">
        {{!--
        <li><a href="./ideas">ideas</a></li>--}}
        <li><a href="mailto:kyle.hughes@outlook.com">email</a></li>
        <li><a href="http://github.com/indigotock">github</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <hr>
  <footer>
    This site is built with a number of tools/techs:
    <ul class='horizontal'>
      {{#each techs.data}} {{#if this.published}}
      <li><a target='_blank' href='{{this.content.url}}'>{{this.title}}</a></li>
      {{/if}} {{/each}}
    </ul>
  </footer>
</body>

</html>