<section>
    <p>
        {{timeofday}}! Welcome to a website by me. You may not find anything on here as I tend to use it only to host prvate projects
        and other miscellanea, but from time to time interesting things may find there way on here.
    </p>
</section>
<section>
    <h2>Projects</h2>
    <p>I'm currently trying to consolidate all of my little ideas and toy projects to my GitHub. Here I've listed a select few:</p>
    <div class='project-list'>
        {{#each projects}}

        <div class='project-item'>
            <header>
                <h5>{{name}}</h5>
                <ul class='horizontal'>{{#each links}}
                    <li><a href='{{this}}'>{{@key}}</a></li>
                    {{/each}}
                    <li><a href='{{repository}}'>github</a></li>
                </ul>
            </header>
            <p>{{{emojify description}}}</p>
        </div>

        {{/each}}
        <a class='end-link' href='https://github.com/indigotock?tab=repositories'>View all repositories...</a>
    </div>
</section>